<article class="home-entry home-entry--award section-table experience-entry award-entry" id="award-{{ award.id }}">
  <div class="award-meta-cell"><time class="award-year type-meta">{{ award.date }}</time><span class="topic-location type-meta">{{ award.location }}</span></div>
  <div class="entry-content-cell"><div class="split-row"><h3 class="entry-title type-entry-title">{{ award.title }}</h3></div><div class="split-row experience-detail-row"><span class="experience-type type-meta type-meta--uppercase">{{ award.type }}</span></div></div>
</article>
