<footer class="site-footer">
  <div class="footer-table">
    <p class="section-cell text-center type-meta">{{ site.labels.lastUpdated }} {{ site.updated | replace("-", "/") }}</p>
  </div>
</footer>
